<!DOCTYPE html>

{% load static %}

  <head>
    <link rel="manifest" href="{% static 'login/js/manifest.json' %}">
    {% load pwa %}
    <meta charset="utf-8">
    {% progressive_web_app_meta %}
    {% load socialaccount %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'login/css/styles.css' %}" />
    <script type="text/javascript" src="{% static 'login/js/serviceworker.js' %} "></script>
    
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    

  </head>
  <body>

    <div class="login-box">
      <img src="{% static 'login/img/user.png' %}" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="correo">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" id="pass">
        <button type="submit" class="btnlogin"> log in<br><br>
        <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a>
        <br> 
        <!-- Social AUTH -->
        <a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
            <span class="fab fa-facebook"></span>
           
            iniciar con fb</a>
      </form>
      <script type="text/javascript" src="{% static 'login/js/main.js' %}"></script>
    </div>

  </body>
</html>
